.footer-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 8%;
}
.footer-parrent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}
.footer-parent img{
    min-width: 100%;
    height: 100%;
    border: none;
}
@media only screen and (max-width: 1920px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
        width: 100%;
    }
}